@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Dark mode styles */
.dark {
  color-scheme: dark;
}

/* Optimize images */
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}